/*!
 * Marp DataCoder main theme.
 *
 * @theme datacoder
 * @author Cédric Le Penmelen
 *
 */

@import 'default';

section {
  background: white;
}

section::after {
  color: white;
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

header,
footer {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 8px;
}

h1, h2, h3 {
  color: #0B1D46;
}

header {
  top: 0px;
  padding: 10px;
  font-size: 80%;
  background: #28375A;
  color: #28375A;
  background-image: url('../../themes/datacoder/img/logo_white.png');
  background-size:cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer{
  background: #28375A;
  color: white;
}

footer,
section::after {
  font-size: 60%;
  bottom: 0px;
  padding: 8px;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

img[alt~="right"] {
  position: absolute;
  right: 40px;
  top: 30%;
  margin: 0 auto;
}
